@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body{
    max-width: 100%;
}

.container{
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.container > * {
    margin: 0 auto;
}

.search-container{
    width: 100%;
    max-width: 600px;
}

.search-input{
    width: 100%;
    max-width: 600px;
    padding: 10px 5px;
    border: 0;
    border-bottom: 1px solid black;
    font-size: 16px;
}

.loader{
    display:none;
    border: none;
    box-shadow: 0 0 10px #aaa;
    padding: 10px 0;
}

.loader-active{
    display:block;
}

.search-results{
    display: none;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 0 10px #aaa;
    max-height: 200px;
    overflow: scroll;
}

.search-item {
    cursor: pointer;
}

.search-item:hover {
    background:#ddd;
}

.search-location{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.location-type{
    font-size: 0.9rem;
    color:rgb(88, 86, 86);
    font-style: italic;
}

.active-results{
    display: block;
}

.highlighted-item{
    background-color: #ddd;
}


.flex-container{
    text-align: start;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    border-bottom: 1px solid black;
    padding: 15px 25px;
}



.btn-container{
    padding: 10px 0;
}

.btn{
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background: #ddd;
}


#title{
    margin-bottom: 30px;
}

#mapid{
    margin-top: 2rem;
    height: 90vw;
    width: 90vw;
    box-shadow: 0 0 10px #aaa;
}

#wildfire-table{
    margin: 0 auto;
    margin-top: 2rem;
    width: 80vw;
    border: 1px solid black;
}

.wildfire-item{
    font-size: 1.3rem;
    transition: 200ms;
    text-align: start;
    border-bottom: 1px solid black;
    cursor: pointer;
    padding: 0 1.25vw;
}

.wildfire-item:hover{
    color: rgb(88, 86, 86);
}


.wildfire-item-border{
    border: 5px solid red;
}


@media(min-width: 800px){
    #mapid{
        width: 60vw;
        height: 60vw;
    }
}